<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" align="center">
    <tr>
        <th>编号</th>
        <th>名称</th>
        <th>价格</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
       <tr>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.info}}</td>
           <td>
               <a href="">更新</a>
               <a href="">删除</a>
           </td>
       </tr>

</body>
</html>